.container{
    background: #ccc;
}
.logo{
    background: url("/giabaostore/assets/img/br1.jpg");
    text-align: center;
    padding-bottom:  20px;
}
.menu{
    height: 47px;
    background: #000;
}
.menu ul {
    list-style: none;
    display: inline-block;
}
.menu ul li{
    cursor: pointer;
    background: #000;
    line-height: 47px;
    padding: 0 20px;
    float: left;
}
.menu ul li a{
    text-transform: uppercase;
    text-decoration: none;
    color: #fff; 
}  
.menu ul li:hover {
    background: #ccc;
}
.menu ul li:hover a{
    color: #000;
}
.puschase{
    display: flex;
    margin: 20px 43%;
}
.puschase h3{
    border: 2px #443b20;
    background-color: rgb(145, 140, 50);
    padding: 20px 30px 20px;
}
ul.puschase-1{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
ul.puschase-1 li{
    flex-basis: 25%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    margin-bottom: 30px;
}
ul.puschase-1 li img{
    max-width: 100%;
    height: auto;
}
ul.puschase-1 li .puschase-info a{
    display: block;
    text-decoration: none;
    text-align: center;
}
ul.puschase-1 li .puschase-info a.puschase-info-1{
    font-size: 16px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    padding: 3px 0px;
}
ul.puschase-1 li .puschase-info a .puschase-info-2{
    color: rgb(0, 0, 0);
    padding: 3px 0px;
}
ul.puschase-1 li .puschase-info .puschase-info-3{
    color: rgb(0, 0, 0);
    padding: 2px 0px;
    font-weight: 600;
    text-align: center;
}





.footer{
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-around;

}
.footer1 h1{
    font-size: 25px;

}
.footer1 p{
    padding: 5px;
    font-size: 16px;
}
.footer2 h1{
    font-size: 25px;
}
.footer2 p{
    padding: 5px;
    font-size: 16px;
}
.footer3 h1{
    font-size: 25px;
}